* {
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    height: 60px;
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-color: dodgerblue;  
}

.logo img {
    width: 150px;
    height: auto;
    margin-top: 20px;
    margin-left: 5px;
}

#boolean {
    color: deepskyblue;
}

.section {
    color: grey;
}

#data {
    font-size: 12px;
}